@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Service Desk Tickets Rehearsal</p>
    <a class="navbar-brand" asp-controller="Tickets" asp-action="Index">Service Desk Tickets</a>
</div>
