@{
    ViewData["Title"] = "Privacy Policy of Service Desk";
}
<h1>@ViewData["Title"]</h1>

<p>Our privacy policy:</p>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis a ligula nec vulputate.
 Curabitur id quam ultricies, varius felis sit amet, ullamcorper est. Quisque tincidunt feugiat 
orci id cursus. Quisque vel libero sem. Aliquam iaculis sapien ac placerat lobortis. Pellentesque
 viverra risus nisi, congue laoreet diam tempor vel. Donec varius nibh nec sapien ultricies, id
 interdum ante malesuada. Sed sed aliquet lorem. Etiam finibus metus ut leo tempus, at pretium 
justo eleifend. Suspendisse faucibus arcu sit amet orci rhoncus, a egestas mi maximus. Mauris 
blandit ultrices ante, convallis dapibus sapien viverra at. Phasellus commodo ullamcorper sodales.
